/* CSS FILE */
#header{
	width: 100%;
	height: 212px;
	background-image: url("../image/header-bg.png");
	background-size: cover;
	box-shadow: 0 0 5px rgba(0,0,0,0.3);
}
.nav-bg{
	width: 960px;
	height: 121px;
	border-radius: 4px;
	margin: 0 auto;
	background-color: #2c4665;
	border: 1px solid #1c416e;
}